h1 {
    color:aqua;
}

nav {
    display: block;
}

nav ul {
    list-style:none;
    display:flex;
    overflow: hidden;
    width: 100%;
    margin-top: 0;
    color:black;
    padding-top: 1em;
    padding-left: 15em;
}

li {
    padding-right: 3em;

}

ul :nth-child(7) {
    padding-left: 40em;
}

nav a {
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}