/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    box-sizing:border-box;  
  }
  
  
  
  
  
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
      /* startje */
      --color-text:#111;
      --color-background:#eee;
  }
  
  
  
  
  
  /****************/
  /* JOUW STYLING */
  /****************/

html {
    display: flex;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}

body {
    margin:0;
}

main {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

.TitelPrijs {
    display: flex;
}

h1 {
    font-size: 2.5em;
    font-weight: 500;
    display: flex;
    margin-top: 10%;
}

.TitelPrijs p{
    font-size: 2.3em;
    font-weight: 100;
    display: flex;
    flex: flex-end;
    margin-top: 1.5em;
    margin-left: 3.2em;
}

main > p:nth-of-type(1) {
    font-size: 1.5em;
    font-weight: 100;
    display: flex;
}

main p:nth-of-type(2) {
    font-size: 1.3em;
    font-weight: 100;
    display: flex;
    border-bottom: solid;
    border-bottom-width: .1em;
    border-bottom-color: black;
    margin-right: 11.3em;
    padding-bottom: .2em;
    margin-bottom: 2em;
}

main p:nth-of-type(3) {
    font-size: 1.3em;
    font-weight: 100;
    display: flex;
}

main > button:first-of-type {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 1.3em; 
    padding-bottom: 1.3em;
    padding-left: 8.3em;
    padding-right: 8.3em;
    font-size: 1.3em;
    border-radius: 5em;
    background-color: black;
    color: white;
    border: none;
    align-content: center;
}

main ul {
    list-style:none;
    margin-left: 0;
}

main ul button {
    border-radius: 5em;
    padding: 1.5em;
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
}

main ul li:first-of-type button {
    background-color: #080404;
    margin-left: -3em;
    border: none;
}

main ul li:nth-of-type(2) button {
    background-color: #606160;
    margin-left: -2.2em;
    border: none;
}

main ul li:nth-of-type(3) button {
    background-color: #ddd9cd;
    margin-left: -2.2em;
    border: none;
}

main ul li:nth-of-type(4) button {
    background-color: #efe1cb;
    border-color: black;
    border: .01em solid black;
    background: linear-gradient(
        to right,
        #efe1cb 0%,
        #efe1cb 50%,
        black 50%,
        black 100%);
    rotate: 225deg;
    margin-left: -2.2em;
}

main > button:last-of-type {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: .9em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.1em;
    border-radius: 5em;
    background-color: #f0f0f0;
    color: black;
    border: none;
}

main ul li {
    display: inline-block;
}

main img:nth-child(1) {
    width: calc(100% + 3em);
    height: auto;
    margin: 0 -1.5em;
    background-color: #f1f1f1;
}

main img:nth-child(2) {
    position: absolute;
    left: 0;
    margin-top: 25em;
    margin-left: 2em;
}

main p img:first-child {
    position: absolute;
    left: 0;
    width: 4.5em;
    margin-left: 10.6em;
    margin-top: -.97em;
    background-color: transparent;
}

.Line {
    height: 2px;
    width: 100% - 1.5em;
    background-color: #e7e7e7;
    margin-top: 1em;
    margin-bottom: 2.5em;
}

.Line2 {
    height: 2px;
    width: 100% - 1.5em;
    background-color: #e7e7e7;
    margin-top: 2.5em;
    margin-bottom: 1.5em;
}

.Line3 {
    height: 2px;
    width: 100% - 1.5em;
    background-color: #e7e7e7;
    margin-top: 2em;
    margin-bottom: 2em;
}

/*********************/
  /* NAVIGATIEBALK */
  /*********************/

nav {
    position: sticky;
    top: 0;
    background-color: white;
    padding-bottom: .2em;
    padding-top: .2em;
    z-index: 2;
}

nav a {
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif
}

nav ul {
    list-style:none;
    overflow: hidden;
    display: flex;
    width: 100%;
    margin-top: 0;
    color:black;
    margin-top: 1.5em;
    margin-bottom: 1.3em;
    padding-left: 1em;
    position: sticky;
}

li {
    padding-right: 3em;
}

ul img {
    max-width: 13em;
    height: auto;
    margin-top: 0;
}

nav ul :nth-of-type(2) img, ul :nth-of-type(3) img, ul :nth-of-type(4) img {
    max-height: 1.4em;
    width: auto;
    justify-content: flex-end;
    margin-right: 0;
}

nav ul :nth-of-type(2) img {
    margin-left: 7em
}

nav ul :nth-of-type(4) button {
    margin-right: -1.3em;
    display:grid;
    place-items: center;
}

nav ul :nth-of-type(4) button img {
    margin-right: -1.3em;
}

nav ul :nth-of-type(4) button[aria-expanded="true"] img {
    content: url('../images/hamburgermenu-close-icon.png') / "hamburgermenu close icon";
}

nav ul li:not(:first-of-type) {
    margin-top: 0;
    max-width: 100%;
    height: auto;
}

/*********************/
  /*  DROPDOWN-MENU   */
  /*********************/

nav ul li ul {
    list-style: none;
    display: none;
}

nav ul li button {
    border: none;
    background-color: transparent;
}

nav ul li ul li a {
    width: 100%;
    display: block;
    background-color: black;
    color: black;
    font-size: 1.0em;
    padding: 1.5em 1.6em;
    transition: 0.2s;
    text-decoration: none;
}