/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
    box-sizing:border-box;  
  }
  
  
  
  
  
  
  /*********************/
  /* CUSTOM PROPERTIES */
  /*********************/
  :root {
      /* startje */
      --color-text:#000000;
      --color-background:#ffffff;
      --color-primary-button: #000000;
      --color-primary-button-text: #ffffff;
      --color-secondary-button: #f1f1f1;
      --line-color: #e7e7e7;
      --loginpage-button-border: #e7e7e7;
      --loginpage-button: #FFFFFF;
  }
  
  
  
  
  
  /****************/
  /* JOUW STYLING */
  /****************/

html {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
}

body {
    margin:0;
}

main {
    margin-left: 2em;
    margin-right: 2em;
}

p {
    color: var(--color-text)
}

h1 {
    font-size: 2.5em;
    font-weight: 500;
    margin-top: 10%;
}

.TitelPrijs {
    display: flex;
    border-bottom: solid;
    border-bottom-width: 2px;
    border-bottom-color: var(--line-color);
    margin-bottom: 2.5em;
}

.TitelPrijs p{
    font-size: 2.3em;
    font-weight: 100;
    margin-top: 1.5em;
    justify-content: flex-end;
}

.TitelPrijs h1 {
    justify-content: flex-start;
    width: 100%;
    color: var(--color-text)
}

main > p:nth-of-type(1) {
    font-size: 1.5em;
    font-weight: 100;
    display: flex;
}

aside {
    background-color: #404444;
    width: calc(100% + 4em);
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 1em;
    padding-top: 1em;
    margin-left:-2em;
    margin-bottom: -1em;
    margin-top: 5em;
}

aside p {
    color: #e7e7e7;
    font-size: 1.6em;
    margin-bottom: 1em;
}

aside > button {
    color: #000000;
    text-transform: uppercase;
    background-color: #e7e7e7;
    padding: .9em;
    padding-left:5em;
    padding-right:5em;
    border-radius: 5em;
    border: none;
    font-size: 1.3em;
    margin-right: 3.3em;
    margin-left: 3.3em;
    margin-bottom: 1em;
}

main p:nth-of-type(2) {
    font-size: 1.3em;
    font-weight: 100;
    border-bottom: solid;
    border-bottom-width: .1em;
    border-bottom-color: var(--color-text);
    margin-right: 10.1em;
    padding-bottom: .2em;
    margin-bottom: 2em;
}

main p:nth-of-type(3) {
    font-size: 1.3em;
    font-weight: 100;
    display: flex;
}

main > button:nth-of-type(3) {
    margin-top: 1.7em;
    margin-bottom: 1em;
    padding-top: 1.3em; 
    padding-bottom: 1.3em;
    padding-left: 7em;
    padding-right: 7em;
    font-size: 1.3em;
    border-radius: 5em;
    background-color: var(--color-primary-button);
    color: var(--color-primary-button-text);
    border: none;
    margin-left: 1.1em;
    margin-right: 1.1em;
}

main ul {
    list-style:none;
    margin-left: 0;
    padding-bottom: 3em;
    border-bottom: solid;
    border-bottom-width: 2px;
    border-bottom-color: var(--line-color)
}

main ul li {
    display: inline-block;
}

main > img:nth-child(1) {
    width: calc(100% + 4em);
    height: auto;
    margin: 0 -2em;
    background-color: #f1f1f1;
    position: relative;
    padding-bottom: 4em;
}

main img:nth-child(2) {
    position: absolute;
    left: 0;
    margin-top: -7.5em;
    margin-left: 2.7em;
    width: 10.5em;
}

main > img:nth-of-type(3) {
    width: 100%;
}

main p img:first-child {
    position: absolute;
    left: 0;
    width: 3.5em;
    margin-left: 11.5em;
    margin-top: .17em;
    background-color: transparent;
}

small {
    font-size: .5em;
    padding-bottom: 2em;
}

main > p:nth-of-type(4) {
    font-size:1.3em;
    padding-top: 2.5em;
    border-top: solid;
    border-top-width: 2px;
    border-top-color: var(--line-color)
}

main > p:nth-of-type(5) {
    font-size: 1.4em;
    margin-bottom: 2.5em;
}

img[aria-expanded="false"] {
    display: none;
}

img[aria-expanded="true"] {
    display: block;
}

  /****************/
  /* MAIN BUTTONS */
  /****************/

  main > button:nth-of-type(3) {
    margin-top: 1.7em;
    margin-bottom: 1em;
    padding-top: 1.3em; 
    padding-bottom: 1.3em;
    padding-left: 7em;
    padding-right: 7em;
    font-size: 1.3em;
    border-radius: 5em;
    background-color: var(--color-primary-button);
    color: var(--color-primary-button-text);
    border: none;
    margin-left: 1.1em;
    margin-right: 1.1em;
}

main button:nth-of-type(1) img {
    width: 3em;
    height: auto;
    position: absolute;
    margin-left: -.8em;
    margin-top: -32em;
}

main button:nth-of-type(2) img {
    width: 3em;
    height: auto;
    position: absolute;
    margin-left: 31.8em;
    margin-top: -32em;
}

main > button:nth-of-type(2) {
    background-color: transparent;
    border: none;
}

main > button:nth-of-type(1) {
    background-color: transparent;
    border: none;
}

main ul button {
    border-radius: 5em;
    padding: 1.5em;
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
}

main ul li:nth-of-type(1) button {
    background-color: #080404;
    margin-left: -3em;
    border: none;
}

main ul li:nth-of-type(2) button {
    background-color: #606160;
    margin-left: -2.2em;
    border: none;
}

main ul li:nth-of-type(3) button {
    background-color: #ddd9cd;
    margin-left: -2.2em;
    border: none;
}

main ul li:nth-of-type(4) button {
    background-color: #efe1cb;
    border-color: black;
    border: .01em solid black;
    background: linear-gradient(
        to right,
        #efe1cb 0%,
        #efe1cb 50%,
        black 50%,
        black 100%);
    transform: rotate(225deg);
    margin-left: -2.2em;
}

main ul li button:focus {
    outline: 1px solid var(--color-text);
    outline-offset: 6px;
}

main ul li button:hover {
    outline: 1px solid var(--color-text);
    outline-offset: 6px;
}

main ul li button:active {
    outline: 1px solid ;
    outline-offset: 6px;
}

main > button:last-of-type {
    margin-top: 1em;
    margin-bottom: 1.5em;
    padding: .9em;
    padding-left: 2em;
    padding-right: 2em;
    font-size: 1.1em;
    border-radius: 5em;
    background-color: var(--color-secondary-button);
    color: var(--color-text);
    border: none;
}

  /*****************/
  /* NAVIGATIEBALK */
  /*****************/

nav {
    position: sticky;
    top: 0;
    background-color: var(--color-background);
    padding-bottom: .2em;
    padding-top: .2em;
    z-index: 2;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #e7e7e7;
}

nav a {
    text-transform: uppercase;
    color: black;
    text-decoration: none;
}

nav ul {
    list-style:none;
    overflow: hidden;
    display: flex;
    width: 100%;
    margin-top: 0;
    color:black;
    margin-top: 1.5em;
    margin-bottom: 1.3em;
    padding-left: 1em;
    position: sticky;
}

li {
    padding-right: 3em;
}

nav ul img {
    max-width: 13em;
    height: auto;
    margin-top: 0;
}

nav:nth-of-type(1) ul li:nth-of-type(1) img {
    width: 15em;
}

nav:nth-of-type(1) ul li:nth-of-type(2) img, nav:nth-of-type(1) ul li:nth-of-type(3) img, nav:nth-of-type(1) ul li:nth-of-type(4) img {
    height: 1.4em;
    width: auto;
    justify-content: flex-end;
    margin-right: 0;
}

nav:nth-of-type(1) ul li:nth-of-type(2) img {
    margin-left: 7em
}

nav ul :nth-of-type(4) button {
    margin-right: -1.3em;
    border: none;
    background-color: transparent;
}

nav ul :nth-of-type(3) button {
    margin-right: -1.3em;
    border: none;
    background-color: transparent;
}

nav ul :nth-of-type(4) button img {
    margin-right: -1.3em;
}

nav ul :nth-of-type(4) button[aria-expanded="true"] img {
    content: url('../images/hamburgermenu-close-icon.svg') / "hamburgermenu close icon";
}

nav ul li:not(:first-of-type) {
    margin-top: 0;
    max-width: 100%;
    height: auto;
}
  /*****************/
  /* DROPDOWN-MENU */
  /*****************/


  body nav:nth-of-type(2) {
    position: fixed;
    top: -264vw;
    z-index: 1;
    right: 0;
    height: 100vw;
    left: 0;
    transition: .2s linear;
  }

 body > nav.MenuOpen {
    position: fixed;
    top: 5em;
    z-index: 1;
    right: 0px;
    height: 110%;
    left: 0;
    transition: .6s cubic-bezier(.37,0,.69,1.31);
  }


body nav:nth-of-type(2) ul {
    display: flex;
    flex-direction: column;
}

body nav:nth-of-type(2) ul li button  {
    display: flex;
    font-size: 2em;
    font-weight: 100;
    margin-bottom: 1em;
    border:none;
    background-color:transparent;
    border-bottom: solid;
    border-bottom-width: 2px;
    border-bottom-color: #e7e7e7;
    padding-bottom: .8em;
    margin-left: .5em;
    margin-right: .5em;
    width: 100%;
    color: var(--color-text)
}

nav:nth-of-type(2) p {
    text-transform: uppercase;
    font-size: 1.2em;
    margin-top: 23em;
    margin-left: 9em;
}

nav:nth-of-type(2) p img {
    width: 1em;
    padding-left: .2em;
}

  /***************/
  /* LOG IN FORM */
  /***************/
main form legend {
    margin-left: 3.5em;
    margin-right: 3.5em;
    margin-bottom: 1.3em;
    margin-top:1.3em;
    font-size: 3.2em;
    color: var(--color-text)
}

main form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

main form input {
    margin: 0;
    padding: 0;
    margin-bottom: 1.2em;
    font-size: 1.3em;
}

main form input:nth-of-type(1), main form input:nth-of-type(2) {
    padding: 1.5em;
    border: 1px solid var(--loginpage-button-border);
    background-color: var(--loginpage-button);
}

main form input:nth-of-type(3) {
    background-color:transparent;
    margin-top: .6em;
    margin-bottom: 2.5em;
    margin-right: 25em;
}

main form input:nth-of-type(4), form input:nth-of-type(5) {
    border-radius: 5em;
    border: 1px solid var(--loginpage-button-border);
    background-color: var(--loginpage-button);
    padding: 1.3em;
}

main form a {
    text-transform: uppercase;
    color: var(--color-text);
    margin-left: 15em;
    margin-right: -10em;
    margin-top: 13.8em;
    font-size: 1.3em;
    position: absolute;
    text-decoration: none;
    display: inline;
}

main form label:nth-of-type(1), main form label:nth-last-of-type(2){
    margin-bottom: .5em;
    font-size: 1em;
}

main form label:nth-of-type(3){
    text-transform: uppercase;
    position: absolute;
    margin-left:2em;
    margin-top: 13.8em;
    font-size: 1.3em;
}

  /**********/
  /* FOOTER */
  /**********/

footer {
    Background-color: #181414;
    padding-left: 2em;
    padding-right: 2em;
}

footer p {
    color: #bebebe;
}

footer form {
    display: flex;
    flex-direction: column;
}

footer form input {
    border-radius: 5em;
}

footer form input:nth-of-type(1) {
    background-color: transparent;
    border: 2px solid #e7e7e7;
    color: #e7e7e7;
    padding-top: 1.1em;
    padding-bottom: 1.1em;
    margin-bottom: 1.5em;
    font-size: 1.3em;
    padding-left: 6em;
}

footer form input:nth-of-type(2) {
    background-color: #e7e7e7;
    border:none;
    text-transform: uppercase;
    padding-top: 1.1em;
    padding-bottom: 1.1em;
    margin-bottom: 2em;
    font-size: 1.3em;
}

footer form input:nth-of-type(3) {
    margin-top: 21em;
    margin-left: .5em;
    position: absolute;
}

footer > p:nth-of-type(1), footer > p:nth-of-type(5) {
    font-size:2em;
    color: #e7e7e7;
    margin-top:1.5em;
}

footer > p:nth-of-type(5) {
    margin-top: 2.5em;
}

footer > p:nth-of-type(2), footer > p:nth-of-type(3), footer > p:nth-of-type(4), footer > p:nth-of-type(6), footer > p:nth-of-type(7), footer > p:nth-of-type(8), footer > p:nth-of-type(9) {
    font-size: 1.3em;
    margin-bottom: -.65em;
}

footer > p:nth-of-type(9) {
    text-decoration: underline;
    padding-bottom: 2em;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #717171;
    margin-left: -1.45em;
    padding-left: 1.45em;
    margin-right:-1.45em;
    margin-top: 3em;
}

footer form label {
    font-weight: 100;
    text-transform: none;
    color: #e7e7e7;
}

footer form legend {
    font-size: 1.6em;
    margin-top: 25.7em;
    margin-bottom: 1.3em;
    color: #e7e7e7;
}

footer form label:nth-of-type(1) {
    margin-bottom: 1em;
    margin-left: 1.5em;
}

footer form label:nth-of-type(2) {
    font-size: 1.4em;
    position: relative;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 4em;
    margin-top: 0.2em;
}

fieldset {
    padding: 0;
    margin: 0;
    margin-top: 3.5em;
    border:none;
    display: flex;
    flex-direction: column
}

/* ul 1 */

footer ul:nth-of-type(1) {
    list-style: none;
    margin-left: -4.5em;
}

footer ul:nth-of-type(1) li button {
    border:none;
    background-color: transparent;
    font-size:2em;
    display:flex;
    font-weight: 100;
    margin-bottom: .8em;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #717171;
    padding-bottom: 1.2em;
    padding-top: .4em;
    width: 116.5%;
    padding-left: .75em;
    color: #e7e7e7;
}

footer ul:nth-of-type(1) li:nth-of-type(1) button {
    padding-top: 1.2em;
}

/* ul 2 */

footer button img {
    width: 1.4em;
    height: auto;
}

footer ul:nth-of-type(2) li {
    display: inline-block;
    padding-right: 1.2em;
}

footer ul:nth-of-type(2) li button {
    background-color: transparent;
    border:none;
}

footer ul:nth-of-type(2) {
    list-style:none;
    margin-left: -2em;
    margin-bottom: 5em;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #717171;
    padding-bottom: 3em;
}

  /**********/
  /* STATES */
  /**********/

  button:focus {
    outline: none;
}

button:focus-visible {
    outline: 2px solid red;
}

button:active {
    background-color: transparent;
}

a:focus {
    outline: none;
}

a:focus-visible {
    outline: 2px solid red;
}

a:active {
    text-decoration: none;
}

a {
    -webkit-tap-highlight-color: transparent;
}

  /************************/
  /* DARKMODE & SELECTION */
  /************************/

@media (prefers-color-scheme: dark) {
    :root {
      --color-text:#bebebe;
      --color-background:#212121;
      --color-primary-button: #e7e7e7;
      --color-primary-button-text: #000000;
      --color-secondary-button: #5e5e5e;
      --color-button-text: #000000;
      --line-color: #717171;
      --loginpage-button-border: transparent;
      --loginpage-button: #e7e7e7;
    }
}

@media (prefers-color-scheme: dark) {
    nav ul :nth-of-type(1) img, nav ul :nth-of-type(2) img, nav ul :nth-of-type(3) img, nav ul :nth-of-type(4) img, main p img:first-child {
        filter: invert(80%);
    }
}

::selection {
    background-color: #8ebbef;
    color:white;
    text-shadow: none;
}